<ion-content>
<div class="consent-title">
<center><h2>Permissions </h2></center>
</div>
<div class="consent-text">

<permissioncheck overallstatus="overallStatus"></permissioncheck>

<div class="row" style="margin-top: 20px;" translate-namespace="consent">
  <div class="col" style="margin-left: 5px">
      <button class="button button-block button-positive button-outline" ng-click="validatePermissions(overallStatus)" id="consent-button"><span translate>{{'.button-continue'}}</span></button>
  </div>
</div>
</div>

<div class="consent-space"></div>

</ion-content>
