<ion-view ng-class="ion-view-background" translate-namespace="diary">
    <ion-nav-title>
        {{'diary.diary' | translate}}
    </ion-nav-title>

    <!-- Refresh button -->
    <ion-nav-buttons side="right">
        <button class="button-refresh" ng-click="refresh()">
        </button>
    </ion-nav-buttons>
	<ion-content class="diary-entry">
        <!-- Date picker -->
        <div style="text-align:center;">
            <button class="date-picker-arrow date-picker-arrow-left-icon" ng-click="prevDay()"><span style="opacity:0;"> &lt </span><!-- invisible character to align text --></button>
            <button id="date-picker-button" class="date-picker-button" ng-click="pickDay()"> {{currDay}}</button>
            <button class="date-picker-arrow date-picker-arrow-right-icon" ng-click="nextDay()"><span style="opacity:0;"> &gt </span>
            </button>
        </div>

        <!-- Daily survey button -->
        <div style="text-align:center;">
            <button class="daily-survey-button" ng-if="!!survey" ng-click="startSurvey()" ng-switch on="isLastDailySurvey">
                <span ng-switch-when="true" translate=".daily-survey-last"></span>
                <span ng-switch-default translate=".daily-survey-for-day" translate-values="{dayOfStudy: dayOfStudy}"> </span>
            </button>
        </div>

		<ion-list>
		<div collection-repeat="trip in data.displayTrips">
            <infinite-scroll-trip-item trip="trip" map-limiter="mapLimiter"></infinite-scroll-trip-item>
        </div>
        </ion-list>
	</ion-content>
</ion-view>
