<div>
<!-- New Trip Template format  -->
    <ion-item class="diary-item">

        <!-- Start Time Tag -->
        <div class="diary-start-time-tag">{{trip.display_start_time}}</div>

        <div class="diary-card">
            <!-- Leaflet Map -->
            <leaflet
                class="diary-map"
                geojson="trip"
                id="$index"
                defaults="mapCtrl.defaults"
                data-tap-disabled="true"
                height="286px">
            </leaflet>
            <!-- Trip Information -->
            <div class="diary-infos">

                <!-- Distance and time -->
                <div
                    class="diary-distance-time"
                    translate=".distance-in-time"
                    translate-value-distance="{{ trip.display_distance }}"
                    translate-value-time="{{ trip.display_time }}"
                >
                </div>

                <!-- Modes percentages -->
                <div class="diary-modes-percents">
                    <span
                        class="diary-modes-percents-text"
                        ng-if="!trip.isDraft"
                        ng-repeat="sectionPct in trip.percentages"
                    >
                        <span class="diary-modes-percents-icon {{sectionPct.icon}}"></span>
                        <span>{{sectionPct.pct}}%</span>
                    </span>
                    <button
                        class="diary-draft-button"
                        ng-if="trip.isDraft"
                        ng-click="explainDraft($event)"
                    >
                        <span translate>{{'.draft'}}</span>
                    </button>
                </div>

                <!-- Locations -->
                <div class="diary-route">

                    <!-- Row, containing Detail Screen button and Trip Origin/Destination -->
                    <div class="diary-detail-button ion-ios-arrow-right" ng-click="showDetail($event, trip)"></div>
                    <!-- Origin for Trip -->
                    <div class="diary-street">
                        <i class="icon ion-ios-location" style="color: #1123CB;"></i>
                        {{trip.start_display_name}}
                    </div>

                            <!-- Destination for Trip -->
                    <div class="diary-street"> <!-- destination -->
                        <i class="icon ion-ios-location" style="color: #ff5251;"></i>
                            {{trip.end_display_name}}
                    </div>
                </div>
                <!-- Mode and Purpose selection -->
                <div class="row" style="">
                    <linkedsurvey element-tag="{{surveyOpt.elementTag}}" class="col" trip="trip"></linkedsurvey>
                </div>
            </div>
        </div>
        <!-- End Time Tag -->
        <div class="diary-stop-time-tag">{{trip.display_end_time}}</div>
    </ion-item>
</div>

